html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

.dflex {
	display: flex;
}

.justify-content-evenly {
	justify-content: space-evenly;
}

.center {
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.hide {
	display: none !important;
}