@use '../util'as *;

html,
body {
	height: 100%;
}

.container {
	padding: 0 rem(24);
	max-width: rem(1110);
	margin: 0 auto;

	@include breakpoint(large) {
		padding: 0;
		transform: translate(0, 0);
	}
}

header {
	padding: 2rem 1.5rem;
}

.nav-bar {
	width: 95vw;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav-bar-left {
		display: flex;
		align-items: center;
	}

	& ul {
		display: flex;

		& li {
			text-decoration: none;
			list-style: none;
			margin: 0 0.7rem;
			padding: 1rem 0;

			& a {
				color: #1D2327;
				font-weight: bold;
				text-transform: uppercase;
				transition: all 0.3s ease;

				&:hover {
					color: #4EA1CA;
				}
			}
		}
	}

	.logo img {
		width: auto;
		height: 140px;
	}
}

.actualites {
	width: 90vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

/* section actualités */
.actu-cards {
	display: flex;
	justify-content: space-between;

	& .card {
		overflow: hidden;
		margin-right: 1rem;
		width: 400px;
		border: 1px solid #a9a9a9;

		& img {
			width: 400px;
			height: 250px;
		}

		& .card-text {
			padding: 1rem;

			& p {
				line-height: 1.6rem;
			}
		}

		& .card-title {
			margin-top: 1rem;
		}
	}
}

/* section qui somme nous */
.who {
	height: 490px;
	margin: 4rem auto;
	display: flex;

	&>div {
		width: 50%;
	}

	& .who-img {
		background-image: url("./images/groupe-personnes-au-cinema_23-2148115428.webp");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	& .who-text {
		padding: 1.5rem;
		height: 100%;
	}
}

/* section nos partenaires */
.partner {
	width: 1140px;
	margin: 4rem auto;
}

/* */
.affiche {
	background-color: #1D2327;
	margin: 4rem 0
}

.container-affiche {
	padding: 2rem 0;
	display: flex;
	align-items: center;
	width: 90vw;
	margin: auto;
	justify-content: space-between;
}

/* footer */
.footer {
	& .container {
		padding: 2rem 0;
		display: flex;
		justify-content: space-evenly;
	}
}

/* programmation */
.movie-container {
	display: flex;
	justify-content: space-between;
	width: 60vw;
	margin: auto;

	& .movie {
		width: 31%;

		& img {
			width: 100%;
			height: auto;
		}
	}

	& .movie {
		display: flex;
		flex-direction: column;
		align-items: center;

		& p {
			width: 330px;
		}
	}
}

.jour {
	padding: 1rem;
	margin: 2rem auto;

	&.paire {
		background-color: #ececec;
	}
}


/* nous situer */
.container-nous-situer {
	width: 90vw;
	margin: auto;
	display: flex;
	justify-content: space-between;

	& .map-nous-situer {
		width: 68%;
	}

	& .text-nous-situer {
		width: 30%;
	}
}

/* actualités */
.actualites {
	&.page-actu {
		justify-content: center;
		margin: 2.5rem auto;
	}
}

/* contact */
.nous-contacter {
	width: 90vw;
	margin: 2rem auto;
	display: flex;
	justify-content: center;

	.form-container {
		width: 50%;
	}
}

/* fiche film */
.info-movie {
	display: flex;
	width: 100%;
	margin: auto;
	justify-content: space-between;

	img {
		height: 400px;
		width: auto;
	}
}

.synopsis {
	width: 100%;
	margin: auto;
}

.bande-annonce {
	display: flex;
	justify-content: center;
}

.container {
	margin: 2rem auto;
	padding: 1rem 1.5rem;
}

.fiche-container {
	margin-top: calc(-65px + 2rem);
}

/* partenaire */
.partner {
	& .container {
		& img {
			width: 100%;
			height: auto;
		}
	}
}

.partner-container {
	display: flex;
	width: 60vw;
	justify-content: space-between;
	align-items: center;
	div {
		width: 20%;
	}
}