@use '../util' as *;

h1,
h2,
h3 {
	margin-top: 0;
	line-height: 1.1;
}

a,
a:visited,
a:active {
	text-decoration: none;
}
a:hover {
	color: #4ea1ca;
}

.image-hero {
	& div {
		& h1 {
			color: white;
			font-size: 3rem;
			font-weight: 400;
			line-height: 4rem;
		}
	}
}

.logo-text {
	& p {
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		line-height: 1.6rem;
	}

}

.actualites {
	& .actu-text {
		& h2 {
			text-transform: uppercase;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			color: #313131;
			font-size: 2.5rem;
			&.light {
				font-weight: 100;
			}
			&.border::after {
				content: '';
				width: 85%;
				height: 1px;
				background-color: #313131;
				display: inline-block;
			}
		}
	}

	& .card {
		& .card-title {
			text-transform: uppercase;
			font-size: 1.6rem;
		}
	}
}

.who {
	& .who-text {
		h2 {
			display: inline-block;
			text-transform: uppercase;
			font-size: 2.5rem;
			font-weight: 300;
			&:after {
				width: 20%;
			}
		}
		p {
			line-height: 1.8rem;
		}
	}
}

h2::after {
	content: "";
	background-color: white;
	height: 1px;
	display: inline-block;
}

h2.title {
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: 300;
}

.container-affiche h2 {
	color: white;
	&::after {
		content: "";
		width: 20%;
	}
}

.footer {
	& h2 {
		text-transform: uppercase;
		font-weight: 300;
	}
}

.movie {
	& .movie-title {
		margin-top: 1rem;
	}
}

/* nous situer */
.container-nous-situer {
	& h2 {
		display: inline-block;
		&::after {
			width: 20%;
			background-color: #313131;
		}
	}
	& .text-nous-situer {
		& p {
			line-height: 1.8rem;
		}
	}
}