.item-images {
    height: 350px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#carrousel {
    width: 55%;
}

.owl-next, .owl-prev {
    color: white !important;
}