.info-movie {
    @media screen and (max-width: 648px) {
        flex-direction: column;
        text-align: center;
    }

    & p {
        & span {
            font-weight: bold;
        }
    }
}

.synopsis-text {
    line-height: 1.8rem;

    & span {
        display: block;
        font-weight: bold;
    }
}