.hero-header {
  display: flex;
  position: relative;
  margin: auto;
  width: 94vw;
  height: 550px;
  .image-hero {
    position: absolute;
    top: -65px;
    z-index: -999;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./images/festival_plein_air.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    & .hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    & .hero-video {
      position: absolute;
      max-width: 400px;
      bottom: 0;
      right: 0;
      transform: translateY(50%);
      -webkit-transform: translateY(50%);
      -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
      -o-transform: translateY(50%);
    }
  }
  & .icon-sociaux {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -20px;
    transform: translate3d(-50%, -80%, 0);
    & div {
      margin-bottom: 0.7rem;
    }
    & i {
      padding: 0.5rem;
      background-color: #197fad;
      color: white;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
