nav {
   & .logo-text {
       height: 136px;
       background-color: #4EA1CA;
       color: white;
       padding: 1rem;
   }
   & .nav-bar-left {
       margin-left: 4rem;
   }
   & .active {
       & a {
           color:#4EA1CA !important;
       }
   }
}